* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(10, 189, 157);
    background: linear-gradient(236deg, rgba(10, 189, 157, 1) 0%, rgba(8, 89, 93, 1) 99%);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.principal img {
    width: 20%;
}

.selfcontrol {
    color: rgba(255, 255, 255, 1);
    font-family: Bellefair;
    font-size: 120px;
    text-align: center;
}

.rayita {

    width: 35%;
    height: 9px;
    background: rgba(255, 255, 255, 1);
    border-radius: 136px;
    text-align: center;
}

.autocontrol {
    color: rgba(255, 255, 255, 1);
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-family: Inter;
    font-size: 200%;
    text-align: center;
}

.button {
    margin-top: 1.5%;
    text-decoration: none;
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
    border: solid;
    width: 20%;
    padding: 0.5%;
    border-radius: 45px;
    text-align: center;
}

.loginregister {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginregister .principal p {
    font-size: 80px;
}

.loginregister .principal {
    background-repeat: no-repeat;
    height: 18%;
    margin-bottom: 8%;
    margin-top: 3%;
}

.espacio {
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(187, 196, 201, 00.5);
    border-radius: 15px;
}

.espacio p {
    font-family: Bellefair;
    font: bold;
    font-size: 200%;
    color: rgba(11, 116, 120, 1);
    ;
}

.espacio form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo {
    height: 15%;
    width: 70%;
    margin: 10px;
    padding: 3.5%;
    font-family: Bellefair;
    font-size: large;
    border-radius: 45px;
    text-align: center;
    color: rgb(62, 62, 62);
    border: none;
    opacity: 50%;
}

.button1 {
    margin-top: 1.5%;
    text-decoration: none;
    font-family: Bellefair;
    font-size: large;
    background-color: rgba(11, 116, 120, 1);
    color: rgb(187, 187, 187);
    border: none;
    height: 20%;
    width: 70%;
    padding: 3.5%;
    border-radius: 45px;
    text-align: center;
}

.espacio .cuenta {
    margin-top: 3.5%;  
    width: 100%;
    height: fit-content;
    display: flex;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

.espacio .cuenta p {
    font-family: Bellefair;
    font-size: small;
    text-align: center;
    color: rgb(62, 62, 62)
}

.buttonmini{
    margin-left: 1%;
    text-decoration: none;
    font-family: Bellefair;
    font-size: x-small;
    background-color: rgba(11, 116, 120, 0.5);
    color: rgb(187, 187, 187);
    border: none;
    height: 100%;
    width: 15%;
    padding: 0.75%;
    border-radius: 45px;
    text-align: center;
}

.contenedor{
    margin-left: 42.5%;
    margin-right: auto;
    justify-content: center;
    width: auto;
    height: 10px;
}

.referencia {
    margin: 1.5%;
    text-decoration: none;
    font-family: Bellefair;
    font-size: large;
    background-color: rgb(5, 53, 54);
    color: rgb(187, 187, 187);
    border: none;
    height: auto;
    width: auto;
    padding: 1.5%;
    border-radius: 45px;
    text-align: center;
    float: left;
    justify-content: center;
}