<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" />
    <title>$elf Control</title>
</head>
<body>
        <h1 class="autocontrol" style="padding-top: 15%;">Ocurrio un error, puede que tu usuario y tu contraseña no coincidan</h1>
        <h1 class="autocontrol">Prueba registrandote o volviendo a iniciar sesión</h1>
    <div class="rayita" style="margin: auto;"></div>

    <div class="contenedor" style="padding-top: 35px;">
        <a href="/login" class="referencia" style="margin-top: auto;"> Iniciar sesion </a>
        <a href="/register" class="referencia" style="margin-top: auto;"> Registrarse </a>
    </div>


</body>
</html>