{% block title %}
    Registro de informacion
{% endblock %}

{% block main %}
    <form action="/ingresos" method="post"> <!--Form para el registro de ingresos-->
    
        <div class=""> 
            
            <select autofocus class="" name="ingreso_categoria" id="ingreso_categoria" placeholder="Categoria del ingreso"> <!--Lista desplegable para tipos de ingresos-->
                <option value="Salario">Salario</option>
                <option value="Mesada">Mesada</option>
                <option value="Regalos">Regalos</option>
                <option value="Otros">Otros</option>
            </select>
           
            <input autocomplete="off" autofocus class="" name="ingreso_monto" id="ingreso_monto" placeholder="Monto a ingresar" type="number" min="0.00"> <!--Ingresar el monto del ingreso-->
           
            <select autofocus class="" name="moneda" id="moneda" placeholder="Moneda"> <!--Lista desplegable para monedas-->
                <option value="NIO">NIO</option>
                <option value="USD">USD</option>
            </select>
           
            <input autofocus class="" name="ingreso_fecha" id="ingreso_fecha" placeholder="Fecha del ingreso" type="date"> <!--Ingreso de fecha-->
           
            <button type="submit">Registrar Ingreso</button>
        </div>
    </form>

    <div> <!--Tabla de ingresos-->
        <table class="">
            <tr>
              <th>Categoria</th>
              <th>Monto</th>
              <th>Moneda</th>
              <th>Fecha</th>
            </tr>

            <tr>          
              <td>asda</td>
              <td>asda</td>
              <td>asda</td>
              <td>asda</td>
            </tr>
    
          </table>
    </div>

    <form action="/egresos" method="post"> <!--Form para el registro de egresos-->
    
        <div class=""> 
            
            <select autofocus class="" name="egreso_categoria" id="egreso_categoria" placeholder="Categoria del egreso"> <!--Lista desplegable para tipos de egresos-->
                <option value="Comida">Comida</option>
                <option value="Servicios basicos">Servicios basicos</option>
                <option value="Universidad">Universidad</option>
                <option value="Colegios">Colegios</option>
                <option value="Familia">Familia</option>
                <option value="Automovil">Automovil</option>
                <option value="Supermercado">Supermercado</option>
                <option value="Varios">Varios</option>
            </select>
           
            <input autocomplete="off" autofocus class="" name="egreso_monto" id="egreso_monto" placeholder="Monto del egreso" type="number" min="0.00"> <!--Ingresar el monto del egreso-->
           
            <select autofocus class="" name="moneda" id="moneda" placeholder="Moneda"> <!--Lista desplegable para monedas-->
                <option value="NIO">NIO</option>
                <option value="USD">USD</option>
            </select>
           
            <input autofocus class="" name="egreso_fecha" id="egreso_fecha" placeholder="Fecha del egreso" type="date"> <!--Ingreso de fecha-->
           
            <button type="submit">Registrar egreso</button>
        </div>
    </form>

    <div> <!--Tabla de egresos-->
        <table class="">
            <tr>
              <th>Categoria</th>
              <th>Monto</th>
              <th>Moneda</th>
              <th>Fecha</th>
            </tr>

            <tr>          
              <td>asda</td>
              <td>asda</td>
              <td>asda</td>
              <td>asda</td>
            </tr>
    
          </table>
    </div>

    <form action="/cuentas" method="post">
        <input autocomplete="off" autofocus class="" name="cuenta_nombre" id="cuenta_nombre" placeholder="Ingrese el nombre de la cuenta" type="text">
        
        <button type="submit">Registrar cuenta</button>
    </form>

    <div> <!--Tabla de cuentas-->
        <table class="">
            <tr>
              <th>Cuentas creadas</th>
            </tr>

            <tr>          
              <td>asdaasdasdasdadasd</td>
            </tr>
    
          </table>
    </div>