{% block title %}
    Registro de informacion
{% endblock %}

{% block main %}
    <form action="/ingreso_datos" method="post">
        <div class="">
            <select autofocus class="" name="ingreso_categoria" id="ingreso_categoria" placeholder="Categoria del ingreso">
                <option value="Salario">Salario</option>
                <option value="Mesada">Mesada</option>
                <option value="Regalos">Regalos</option>
                <option value="Otros">Otros</option>
            </select>
            <input autocomplete="off" autofocus class="" name="ingreso_monto" placeholder="Monto a ingresar" type="number" min="0">
            <input autofocus class="" name="ingreso_moneda" placeholder="Moneda" type="text" list="moneda">
            <datalist id="moneda">
                <option value="NIO">NIO</option>
                <option value="USD">USD</option>
            </datalist>
            <input autofocus class="" name="ingreso_fecha" placeholder="Fecha del ingreso" type="date">
            <button type="submit">Registrar Ingreso</button>
        </div>
    </form>