<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bellefair&display=swap" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="principal">
            <img src="../static/img/logo_blanco.png">
        <p class="selfcontrol">$ELF CONTROL</p>
        <div class="rayita"></div>
        <span class="autocontrol">AUTOCONTROL FINACIERO</span>
        <a href="/login" class="button">
          LOG IN
        </a>
        <a href="/register" class="button">
            REGISTER
        </a>
    </div>
</body>

</html>