<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <a href={{url_for('registros')}}>ingreso_datos</a>

  <!--grafico de egresos-->

  <div style="width: 300px;">
    <canvas id="grafico_egresos"></canvas>
  </div>

  <!--grafico de ingresos-->

  <div style="width: 300px;">
    <canvas id="grafico_ingresos"></canvas>
  </div>

    <!--grafico de mes-->

    <div style="width: 600px;">
      <canvas id="grafico_mes"></canvas>
    </div>

  <!--Tabla de ingresos-->

  <div> 
    
    <table class="">
        <tr>
          <th>Categoria</th>
          <th>Monto</th>
          <th>Mes</th>
        </tr>
        
        {% for i in ultimos_ingresos%}
        <tr>          
          <td>{{i["categoria_i"]}}</td>
          <td>{{i["monto"]}}</td>
          <td>{{i["mes"]}}</td>
        </tr>
        {% endfor %}
      </table>    
</div>  

  <!--Tabla de egresos-->

  <div> 
    
    <table class="">
        <tr>
          <th>Categoria</th>
          <th>Monto</th>
          <th>Mes</th>
        </tr>

        {% for i in ultimos_egresos%}
        <tr>          
          <td>{{i["categoria_e"]}}</td>
          <td>{{i["monto"]}}</td>
          <td>{{i["mes"]}}</td>
        </tr>
        {% endfor %}
      </table>
</div>

<!--Tabla de cuentas-->

<div> 
    <table class="">
      
      <thead>
        <th>Cuentas creadas</th>
      </thead>

      <tbody>
        {% for i in ultimas_cuentas %}
        <tr>          
          <td>{{i.nombre_cuenta}}</td>
        </tr>
        {% endfor %}
      </tbody>  
      
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--Script para los egresos-->
<script>
    const ctx = document.getElementById('grafico_egresos').getContext('2d');
    const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{categoria_egresos | safe}},
        datasets: [{
            label: '# of Votes',
            data: {{total_egresos | safe}},
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            
        }]
    },
    
});
</script>

<!--Script para los ingresos-->
<script>
    const ctz = document.getElementById('grafico_ingresos').getContext('2d');
    const myChart1 = new Chart(ctz, {
    type: 'pie',
    data: {
        labels: {{categoria_ingresos | safe}},
        datasets: [{
            label: '# of Votes',
            data: {{total_ingresos | safe}},
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            
        }]
    },
    
});
</script>

<!--Script para los meses-->
<script>
  const cty = document.getElementById('grafico_mes').getContext('2d');
  const myChart2 = new Chart(cty, {
  type: 'bar',
  data: {
      labels: {{ meses | safe}},
      datasets: [{
          label: 'Ingresos',
          data: {{ingresos_mes | safe}},
          backgroundColor: [
              'rgb(255, 99, 132)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)'
          ],
          
      }]
  },
  
});
</script>

</body>

</html>