{%extends"layout.html"%}

{%block contenido%}

<div class="p-4">
  <div class="welcome">
    <div class="content rounded-3 p-3">
      <h1 class="fs-3">¡Bienvenido {{usuario}}!</h1>
      <p class="mb-0">Hola {{usuario}}, bienvenido a tu asombroso dashboard!</p>
    </div>
  </div>

  <section class="statistics mt-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
          <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle ingresoico"></i>
          <div class="ms-3">
            <span class="d-block ms-2">Ingresos</span>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">NIO {{ consolidado_ingresos_nio[0]["Total de ingresos NIO"] }}</h3>
            </div>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">USD {{ consolidado_ingresos_usd[0]["Total de ingresos USD"] }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
          <i class="uil-file fs-2 text-center bg-danger rounded-circle egresoico"></i>
          <div class="ms-3">
            <span class="d-block ms-2">Egresos</span>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">NIO {{ consolidado_egresos_nio[0]["Total de egresos NIO"] }}</h3>
            </div>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">USD {{ consolidado_egresos_usd[0]["Total de egresos USD"] }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box d-flex rounded-2 align-items-center p-3">
          <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
          <div class="ms-3">
            <span class="d-block ms-2">Balance</span>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">NIO {{ saldo_nio[0] }}</h3>
            </div>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">USD {{ saldo_usd[0] }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="temp">
    <a class="temporal" href={{url_for('registros')}}> Ingreso Datos </a>
    <a class="temporal" href={{url_for('graficos_tablas')}}>Resumen</a>
  </div>

  <section class="charts mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          
          <div class="grafico_pos" style="width: 300px;">
            <h3 class="fs-6 mb-3">Ingresos Cordobas</h3>
            <canvas id="grafico_ingresos"></canvas>
          </div>
          <div class="grafico_pos" style="width: 300px;">
            <h3 class="fs-6 mb-3">Ingresos Dolares</h3>
            <canvas id="grafico_ingresos_usd"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <div class="grafico_pos" style="width: 300px;">
            <h3 class="fs-6 mb-3">Egresos Cordobas</h3>
            <canvas id="grafico_egresos"></canvas>
          </div>
          <div class="grafico_pos" style="width: 300px;">
            <h3 class="fs-6 mb-3">Egresos Dolares</h3>
            <canvas id="grafico_egresos_usd"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="charts mt-4">
    <div class="chart-container p-3">
      <h3 class="fs-6 mb-3">Promedio de ingresos</h3>
      <div style="height: 300px;">
        <div style="width: 600px;">
          <canvas id="grafico_mes"></canvas>
        </div>
      </div>
    </div>
  </section>

  <section class="charts mt-4" id="tabla_ing">
    <div class="chart-container p-3">
      <h3 class="fs-6 mb-3">Tabla ultimo 5 ingresos</h3>
      <div style="height: 100%;">
        <div style="width: 100%;">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Moneda</th>
                <th scope="col">Monto</th>
                <th scope="col">Mes</th>
              </tr>
            </thead>
            <tbody>
              {% for i, j in ultimos_ingresos | zip(tam)%} 
              <tr>
                <td>{{j}}</td>
                <td>{{i["categoria_i"]}}</td>
                <td>{{i["moneda"]}}</td>
                <td>{{i["monto"]}}</td>
                <td>{{i["mes"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="charts mt-4" id="tabla_egr">
    <div class="chart-container p-3">
      <h3 class="fs-6 mb-3">Tabla ultimo 5 egresos</h3>
      <div style="height: 100%;">
        <div style="width: 100%;">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Moneda</th>
                <th scope="col">Monto</th>
                <th scope="col">Mes</th>
              </tr>
            </thead>
            <tbody>
              {% for i, j in ultimos_egresos | zip(tam)%} 
              <tr>
                <td>{{j}}</td>
                <td>{{i["categoria_e"]}}</td>
                <td>{{i["moneda"]}}</td>
                <td>{{i["monto"]}}</td>
                <td>{{i["mes"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="charts mt-4" id="tabla_cts">
    <div class="chart-container p-3">
      <h3 class="fs-6 mb-3">Tabla de cuentas creadas</h3>
      <div style="height: 100%;">
        <div style="width: 100%;">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre de la cuenta</th>
              </tr>
            </thead>
            <tbody>
              {% for i, j in ultimas_cuentas | zip(tam)%} 
              <tr>
                <td>{{j}}</td>
                <td>{{i.nombre_cuenta}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--Script para los egresos-->
<script>
  const ctx = document.getElementById('grafico_egresos').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: {{ categoria_egresos | safe}},
  datasets: [{
    label: 'categoria',
    data: {{ total_egresos | safe}},
    backgroundColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
    borderColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
            
        }]
    },
    
});
</script>

<script>
  const gfeu = document.getElementById('grafico_egresos_usd').getContext('2d');
  const myChart3 = new Chart(gfeu, {
    type: 'pie',
    data: {
      labels: {{ categoria_egresos_usd | safe}},
  datasets: [{
    label: 'categoria',
    data: {{ total_egresos_usd | safe}},
    backgroundColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
    borderColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
            
        }]
    },
    
});
</script>

<!--Script para los ingresos-->
<script>
  const ctz = document.getElementById('grafico_ingresos').getContext('2d');
  const myChart1 = new Chart(ctz, {
    type: 'pie',
    data: {
      labels: {{ categoria_ingresos | safe}},
  datasets: [{
    label: 'categoria',
    data: {{ total_ingresos | safe}},
    backgroundColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
    borderColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
            
        }]
    },
    
});
</script>

<script>
  const gfiu = document.getElementById('grafico_ingresos_usd').getContext('2d');
  const myChart4 = new Chart(gfiu, {
    type: 'pie',
    data: {
      labels: {{ categoria_ingresos_usd | safe}},
  datasets: [{
    label: 'categoria',
    data: {{ total_ingresos_usd | safe}},
    backgroundColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
    borderColor: [
    '#4285F4',
    '#EA4335',
    '#FBBC04',
    '#34A853',
    '#FF6D01',
    '#46BDC6',
    '#9900FF',
    '#1C4587'
  ],
            
        }]
    },
    
});
</script>

<!--Script para los meses-->
<script>
  const cty = document.getElementById('grafico_mes').getContext('2d');
  const myChart2 = new Chart(cty, {
    type: 'bar',
    data: {
      labels: {{ meses | safe}},
  datasets: [{
    label: 'Promedio de ingresos C$',
    data: {{ ingresos_mes | safe}},
    backgroundColor: [
    '#4285F4'
  ],
    borderColor: [
    '#4285F4'
  ],
          
      },{
        label: 'Promedio de ingresos $',
        data: {{ ingresos_mes_usd | safe}},
        backgroundColor: [
        '#EA4335'
      ],
        borderColor: [
        '#EA4335'
      ],
              
          }]
  },
  
});
</script>

<script src="/static/js/dashboardbonis.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"></script>
{%endblock%}